@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #f3fafb;
  --primary: #0098a5;
}

body {
  font-family: "Cairo";
  overflow-x: hidden;
}

.ant-layout-header .ant-menu
{
  background-color: #f9fafb !important;
}